<table>
  <tbody>
    <tr>
      <td>
        <p>
          Neue Nachricht des Kontaktformulares. Der Inhalt ist:
        </p>
      </td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>