<div class="row">
  <div class="col-12 product-reviews__container-title">
    Bewertung von: <%= comment.user.first_name ? comment.user.first_name : 'Ohne Name' %>
    <div class="rated" data-score="<%= comment.rating %>"></div>
  </div>
  <div class="col-12 product-reviews__container-body">
    <p>
      <%= comment.body %>
    </p>
    <% if signed_in? && current_user.admin? %>
    <%= link_to ('<i class="fas fa-trash-alt"></i> Bewertung löschen').html_safe, 
        product_comment_path(comment.product, comment), 
        method: :delete, 
        data: { confirm: 'Sicher?' } %>
  <% end %>
  </div>
</div>