<h2>Orders</h2>

<table class="table table-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#Order</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Description</th>
      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= link_to order.product.name, order %></td>
      <td><%= order.product.description %></td>
      <td>€<%= order.product.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>