<div class="col-12 product-reviews__container">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <hr>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-4 pagination">
      <%= will_paginate @comments, :container => false %>
    </div>
  </div>
</div>